.card{
    display: flex;
    flex-direction: row;
    position: relative;
    width: 750px;
    padding: 10px;
    margin: 10px auto;
    height: 300px;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, .125);
    box-shadow: 2px 2px #d5d6dc;
    background-color: #f3f4f7;
}

.card:hover{
    box-shadow: 2px 2px #aeaeae
}
.img{
    width: 20%;
    border: 1px solid rgba(0, 0, 0, .125);
    background-size: cover;
    background-position: center;
}
.details-card{
    display: flex;
    width: 70%;
    flex-direction: column;
    cursor: pointer;
    margin: 10px auto;
}
button.btn-card{
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    top: 50%;
    color:#dc7777;
}
.text-name{
    font-size: 40px;
    color: #32435f;
    letter-spacing: 2px;
    margin-bottom: 15px;
}
.option-card{
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 20px;
}
.happiness{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px 10px;
    color: black;
}

