body{
  padding: 20px 50px;
  font-family: 'Gaegu', cursive;
}
*{
  box-sizing: border-box;
}

.pocket{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow:auto;
  margin:30px auto;
  width: 900px;
  height: 768px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, .125);
  box-shadow: 0 2px 0 rgba(90, 97, 105, .11), 0 4px 8px rgba(90, 97, 105, .12), 0 10px 10px rgba(90, 97, 105, .06), 0 7px 70px rgba(90, 97, 105, .1);
}

button.btn{
  width: 150px;
  height: 40px;
  font-weight: 600;
  margin: 10px 15px;
}


button.btn-add:hover{
  background-color: #000000;
  color: #ffffff;
}

